<section class="fifth-screen">
  <div class="container">
    <h2>
      Sirius Crypto School
    </h2>
    <div class="row">
      <div class="col-lg-6">
        <p>
          Мы - децентрализованное сообщество криптотрейдеров
          в котором на данный момент состоит 55 экспертов.
          Мы имеем высокие компетенции в таких областях как:
          ICO, Presale, Daily trading.
        </p>
        <p>
          Собрав накопленный за 5 лет опыт - мы решили поделиться
          им с теми, кто только делает первые шаги в криптотрейдинге, либо с теми, кто хотел бы ускориться и начать зарабатывать
          еще больше.
        </p>
        <p>
          В рамках этого курса мы гарантировано доведем вас
          до положительного финансового результата и дадим
          все для самостоятельной успешной торговли.
        </p>
      </div>
      <div class="col-lg-6">
        <div class="fifth-screen__photo">
          <img src="/img/photo-club.png" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
