<section class="founders">
  <div class="container">
    <h2><strong>ОСНОВАТЕЛИ ШКОЛЫ</strong> КРИПТОТРЕЙДИНГА</h2>
    <div class="row">
      <div class="col-lg-6">
        <img src="../../img/founder-1.png" alt="">
        <h3>Вадим Киреев</h3>
        <p>
          Главный аналитик фонда Sirius Crypto <br>
          Эксперт школы трейдинга
        </p>
        <div class="social">
          <a href="#">
            <img src="../../img/instagram.svg" alt="">
          </a>
          <a href="#">
          <img src="../../img/facebook-logo.svg" alt="">
        </a>
          <a href="#">
            <img src="../../img/telegram.svg" alt="">
          </a>
        </div>
      </div>
      <div class="col-lg-6">
        <img src="../../img/founder-2.png" alt="">
        <h3>Арсений Архангельский</h3>
        <p>
          Соучредитель клуба и школы крипто-трейдинга <br>
          Sirius Crypto
        </p>
        <div class="social">
          <a href="#">
            <img src="../../img/instagram.svg" alt="">
          </a>
          <a href="#">
            <img src="../../img/facebook-logo.svg" alt="">
          </a>
          <a href="#">
            <img src="../../img/telegram.svg" alt="">
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
