<header class="school-header">
  <div class="container">
    <div class="row">
      <div class="school-header__info">
        <div class="logo">
            <a href="#">
              <img src="img/header-logo.png" alt="SiriusCryptoClub">
              <strong>SiriusCrypto</strong>
              <br> закрытое сообщество
              <br> криптоинвесторов
            </a>
        </div>
        <nav class="nav">
          <ul>
            <li><a href="#">Встречи клуба
            </a></li>
            <li><a href="#">Вступление в клуб
            </a></li>
            <li><a href="#">Криптошкола
            </a></li>
            <li><a href="#">Контакты
            </a></li>
          </ul>
        </nav>
        <div class="btn__school btn__school_nav">
          <a href="#">
            Начать обучение криптотрейдингу
          </a>
        </div>

      </div>
    </div>
  </div>
</header>
