<header class="header">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="header__logo">
        <a href="#">
          <img src="img/logo.svg" alt="svg">
        </a>
      </div>
      <div class="header__title">
        <a href="#">
          <h1>
            <span class="header__title_big">
              SiriusCrypto
            </span>
            <span class="header__title_litle">
            закрытое сообщество криптоинвесторов
             </span>
          </h1>
        </a>
      </div>
    </div>
  </div>
</header>
