<div class="main">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 order-1">
          <div class="main__title">
            <h2>
              Получи
              <strong>
                доступ <br/> к инструментам
              </strong>
              профессионального
              криптотрейдера
            </h2>
            <div class="main__title_scroll">
              <a href="#">
                <img src="img/scroll.svg" alt="">
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 order-3">
          <div class="main__buttons">
            <a href="#">Скачать PDF</a>
            <a href="#">Читать онлайн</a>
          </div>
          <p>
            <strong>*</strong> Практическое руководство
            основанное на реальной истории</p>
        </div>
        <div class="col-lg-6 order-2">
          <div class="blue-triangle">
            <img src="img/blue-triangle.svg" alt="">
          </div>
          <div class="main__book-section">
            <img src="img/book.png" alt="" >
          </div>
        </div>
      </div>
    </div>

</div>

<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="footer__copyright">
        <p>SiriusCrypto 2018 ©</p>
      </div>
    </div>
  </div>
</footer>
