<div class="school">
  <div class="container position-relative">
    <div class="row">
      <div class="curves-absolute">
        <img src="img/curves4.svg" alt="">
      </div>
      <div class="content">
        <h1>
          Sirius Crypto School
          <strong>
            Пройди базовый курс криптотрейдинга
            от криптомиллионера с портфелем
            более $ 1 000 000
          </strong>
        </h1>

        <div class="btn__school btn__school_content">
          <a href="#">
            Начать обучение криптотрейдингу
          </a>
        </div>
        <h2>
          Это первый инвестиционно
          окупаемый курс!
        </h2>
        <p>
          Вадим Киреев
        <strong>
          основатель Sirius Crypto School
        </strong>
        </p>
      </div>
    </div>
  </div>
</div>
