<section class="second-screen">
  <div class="container">
      <h2>
        Этот <strong>курс подойдет</strong> тебе если
      </h2>
      <div class="row d-flex justify-content-center">
        <div class="col-lg-4 col-md-6">
          <img src="../../img/011-peer-to-peer.svg" alt="">
          <p>
            Ты хочешь разобраться в рынке криптовалют, но не знаешь
            с чего начать
          </p>
        </div>
        <div class="col-lg-4 col-md-6">
          <img src="../../img/029-blockchain.svg" alt="">
          <p>
            Ты хочешь зарабатывать,
            а не терять с самого начала трейдинга
          </p>
        </div>
        <div class="col-lg-4 col-md-6">
          <img src="../../img/024-cryptocurrency.svg" alt="">
          <p>
            Ты уже терял деньги
            в криптотрейдинге и хочешь избежать этого в дальнейшем
          </p>
        </div>
      </div>
    <div class="btn__school btn__school_second-screen">
      <a href="#">Начать обучение криптотрейдингу</a>
    </div>
  </div>
</section>
