<div class="top5">
  <div class="container">
      <h2>
        <strong>Топ 5 проблем,</strong> с которыми
        сталкиваются начинающие трейдеры
      </h2>
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <img src="../img/01.svg" alt="">
        <h3>Сложно разобраться</h3>
        <p>Сайт рыбатекст поможет дизайнеру, верстальщику, сгенерировать
          несколько абзацев текста рыбы</p>
      </div>
      <div class="col-lg-4 col-md-6">
        <img src="../img/02.svg" alt="">
        <h3>Большие убытки</h3>
        <p>Сайт рыбатекст поможет дизайнеру, верстальщику, сгенерировать
          несколько абзацев текста рыбы</p>
      </div>
      <div class="col-lg-4 col-md-6">
        <img src="../img/03.svg" alt="">
        <h3>Неправильное мышление</h3>
        <p>Сайт рыбатекст поможет дизайнеру, верстальщику, сгенерировать
          несколько абзацев текста рыбы</p>
      </div>
      <div class="col-lg-4 col-md-6">
        <img src="../img/04.svg" alt="">
        <h3>Слишком много информации</h3>
        <p>Сайт рыбатекст поможет дизайнеру, верстальщику, сгенерировать
          несколько абзацев текста рыбы</p>
      </div>
      <div class="col-lg-4 col-md-6">
        <img src="../img/05.svg" alt="">
        <h3>Информация недостоверна</h3>
        <p>
          Сайт рыбатекст поможет дизайнеру, верстальщику, сгенерировать
          несколько абзацев текста рыбы
        </p>
      </div>
      <div class="col-lg-4 col-md-6">
          <div class="btn__school btn__school_top5">
            <a href="#">
              Начать обучение криптотрейдингу
            </a>
          </div>
      </div>
    </div>
  </div>
</div>
