.top
	padding-top: 120px
	background: rgb(14, 100, 237)

h2
		text-transform: uppercase
		font-family: "RobotoCondensed-Light", sans-serif
		font-size: 60px
		font-weight: 100
		margin-bottom: 86px
		color: #ffffff
		strong
			font-weight: bold
		+r(425)
			font-size: 24px
			margin-bottom: 40px
